/** @format */

.story {
  margin-bottom: 145px;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
  }
  &-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  &-image {
    height: 231px;
    margin-bottom: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &-heading {
    margin-bottom: 15px;
  }
  &-desc {
    margin-bottom: 26px;
  }
  &-desc p {
    font-family: $primary-font;
    font-size: 15px;
    line-height: 175%;
    font-weight: 400;
    color: $gray-light;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  &-read {
    margin-bottom: 26px;
    margin-top: auto;
  }
  &-read a {
    font-family: $primary-font;
    font-size: 15px;
    line-height: 28px;
    font-weight: 600;
    color: $primary-color;
  }
  @media screen and (max-width: 1023.98px) {
    margin-bottom: 75px;
    &-list {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 300px;
      grid-auto-flow: column;
      grid-gap: 0 25px;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      grid-template-columns: unset;
    }
    &-list::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    &-list > * {
      scroll-snap-align: start;
    }
    &-heading {
      font-size: 30px;
    }
  }
}
