$primary-font: 'Inter', sans-serif;
$secondary-font: 'Playfair Display', sans-serif;
$third-font: 'Mulish', sans-serif;
$gray: #B8BECD;
$gray-dark: #4A4C53;
$gray-darkest: #202336;
$gray-light: #7D7987;
$primary-color: #FB8F1D;
$black: #000000;
$white-light: #F9F9FB;
$text-color: #848484;